<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stlyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="phone.css">
    <title>Shyam Rathod - Web devloper</title>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <nav class="navbar">
            <a href="#home" style="--i:1" class="active">Home</a>
            <a href="#about" style="--i:2">About</a>
            <a href="#skills" style="--i:3">Skills</a>
            <a href="#protfolio" style="--i:4">Portfolio</a>
            <a href="#contact" style="--i:5">Contact</a>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Shyam Rathod</h1>
            <h3>And I'm a <span class="text"></span></h3>
            <p>I'm a web Designer with extensive experince for over 0 years.
                <br>expertise is to create and website design, frontend design, and many more...
            </p>
            <div class="home-sci">
                <a href="#" style="--i:6"><i class='bx bxl-instagram'></i></a>
                <a href="#" style="--i:7"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#" style="--i:8"><i class='bx bxl-linkedin-square'></i></a>
                <a href="#" style="--i:9"><i class='bx bxl-telegram'></i></a>
                <!-- 
                <a href="#" style="--i:6"><img src="./icons/bxl-facebook-square.png" alt=""></a>
                <a href="#" style="--i:7"><img src="./icons/bxl-instagram-alt.svg" alt=""></a>
                <a href="#" style="--i:8"><img src="./icons/telegram-logo-24.png" alt=""></a>
                <a href="#" style="--i:9"><img src="./icons/linkedin-square-logo-24.png" alt=""></a> -->
            </div>
            <a href="#" class="btn-box">More About ME</a>
        </div>
        <div id="myimg1" class="hover1">
            <img src="./icons/myimg1.jpg" alt="">
        </div>
        <span class="home-imghover"></span>
    </section>
    <section class="about" id="about">
        <div class="about-img" id="myimg2" class="hover1">
            <img src="./icons/myimg1.jpg" alt="">
        </div>
        <div class="about-text">
            <h2>About<span> Me</span></h2>
            <h4>Full Stack Developer!</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusantium repudiandae debitis id
                numquam? Vel necessitatibus sequi minima id neque, nisi mollitia placeat atque cumque nesciunt natus
                nostrum maxime incidunt laborum autem, sunt, distinctio tempore accusantium. Nulla deserunt possimus
                nemo vero, eligendi numquam impedit odio corporis quis ad earum mollitia modi similique explicabo,
                necessitatibus tempore consectetur quas minus? Accusamus nulla hic nobis voluptatum porro! Laborum
                voluptatibus error iste amet itaque dolore officiis quasi incidunt! Esse ipsa labore, itaque veritatis
                repudiandae molestiae voluptas possimus qui error repellendus adipisci earum commodi atque molestias
                eius velit ea laboriosam corporis aut, recusandae, voluptates nesciunt odio expedita eligendi! Nisi,
                neque quibusdam quasi mollitia est aliquam itaque accusamus, accusantium illum nobis, quo sint libero
                reprehenderit debitis vero assumenda? Itaque dicta quas ducimus vitae beatae veritatis in rerum! Natus
                itaque voluptatum officia blanditiis quam vitae eos sint qui, optio numquam veritatis repudiandae saepe
                consectetur distinctio quibusdam deleniti quaerat? Dolores sequi labore ullam tempore nemo perferendis
                corrupti doloribus fugit debitis reprehenderit. Harum adipisci illo accusantium placeat magni cumque,
                corporis eveniet non mollitia quibusdam impedit optio consectetur hic in corrupti et officiis rerum
                minus perspiciatis! Quasi, magnam pariatur </p>
            <a href="#" class="btn-box">More About Me</a>
        </div>
    </section>
    <section class="skills" id="skills">
        <h1 class="sub-title">My <span style="color: #0ef;">Skills</span></h1>
        <div id="skills-container">
            <div class="container1" id="Skills1">
                <h1 class="heading1">Technical Skills</h1>
                <div class="technical-bar">
                    <!-- html -->
                    <div class="bar"><i class='bx bxl-html5' style='color:#c95d2b;'></i>
                        <div class="info">
                            <span>HTML</span>
                        </div>
                        <div class="progress-line" id="html">
                            <span></span>
                        </div>
                    </div>
                    <!-- css -->
                    <div class="bar"><i class='bx bxl-css3' style='color:#147bbc'></i>
                        <div class="info">
                            <span>CSS</span>
                        </div>
                        <div class="progress-line" id="css">
                            <span id="css"></span>
                        </div>
                    </div>
                    <!-- js -->
                    <div class="bar"><i class='bx bxl-javascript' style='color:#b0bc1e'></i>
                        <div class="info">
                            <span>Javascript</span>
                        </div>
                        <div class="progress-line bxl" id="js">
                            <span id="js"></span>
                        </div>
                    </div>
                    <!-- C -->
                    <div class="bar"><i class='bx bxs-copyright' style='color:#7f21a2'></i>
                        <div class="info">
                            <span>C</span>
                        </div>
                        <div class="progress-line " id="c">
                            <span></span>
                        </div>
                    </div>
                    <!-- C++ -->
                    <div class="bar"><i class='bx bxl-c-plus-plus' style="color: #800080;"></i>
                        <div class="info">
                            <span>C++</span>
                        </div>
                        <div class="progress-line " id="cpp">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container1" id="Skills2">
                <h1 class="heading1">Professional Skills</h1>
                <div class="radial-bars">

                    <div class="radial-bar">
                        <svg x='0px' y='0px' viewBox="0 0 200 200">
                            <circle class="progess-bar" cx='100' cy='100' r='80'></circle>
                            <circle class="path" id="path-1" cx='100' cy='100' r='80'></circle>
                        </svg>
                        <div class="percentage">55%</div>
                        <div class="text">Creativity</div>
                    </div>
                    <div class="radial-bar">
                        <svg x='0px' y='0px' viewBox="0 0 200 200">
                            <circle class="progess-bar" cx='100' cy='100' r='80'></circle>
                            <circle class="path" id="path-2" cx='100' cy='100' r='80'></circle>
                        </svg>
                        <div class="percentage">50%</div>
                        <div class="text">Comuncation</div>
                    </div>
                    <div class="radial-bar">
                        <svg x='0px' y='0px' viewBox="0 0 200 200">
                            <circle class="progess-bar" cx='100' cy='100' r='80'></circle>
                            <circle class="path" id="path-3" cx='100' cy='100' r='80'></circle>
                        </svg>
                        <div class="percentage">40%</div>
                        <div class="text">Problem Solving Skills</div>
                    </div>
                    <div class="radial-bar">
                        <svg x='0px' y='0px' viewBox="0 0 200 200">
                            <circle class="progess-bar" cx='100' cy='100' r='80'></circle>
                            <circle class="path" id="path-4" cx='100' cy='100' r='80'></circle>
                        </svg>
                        <div class="percentage">80%</div>
                        <div class="text">TeamWork</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="contact-text">
            <h2>Contact <span>Me</span></h2>
            <h4>Let's work Together</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam dolorem, modi commodi ab totam
                distinctio? Cupiditate tenetur cumque eaque!</p>
            <div class="contact-list">
                <li><i class='bx bxs-send'></i>Contact@gmail.com</li>
                <li><i class='bx bx-phone'></i>013456735675</li>
            </div>
            <div class="contact-icons">
                <a href="#" style="--i:6"><i class='bx bxl-instagram'></i></a>
                <a href="#" style="--i:7"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#" style="--i:8"><i class='bx bxl-linkedin-square'></i></a>
                <a href="#" style="--i:9"><i class='bx bxl-telegram'></i></a>
            </div>
        </div>
        <div class="contact-form">
            <form action="" method="post">
                <input type="text" name="name" placeholder="Enter your name">
                <input type="email"name="email" placeholder="Enter your email" required>
                <input type="text" name="work" placeholder="Enter your subject">
                <input type="number" name="phone" placeholder="Enter your Phone Number">
                <textarea name="problem" id="" cols="40" rows="10" placeholder="Enter your message"></textarea>
                <input type="submit" value="submit" class="send">
            </form>
        </div>
    </section>
    <div class="last-text">
        <p>Copyright &copy 2023 Shyam Rathod</p>
    </div>
    <a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>

    <script src="main.js"></script>
</body>

</html>
